doctype html 
html
  head
    title BEATBUSTERS DANCE ACADEMY
    block scripts
    block style
    
  body
    nav#navbar 
            div#logo
                img(src="/static/Image/Logo.jpeg" alt="Logo")
            ul
                li #[a(href="#home") Home]
                li #[a(href="#events") Our Events]
                li #[a(href="#ClassesInfo") Classes Info]
                li #[a(href="/contact") Contact Us]
    block content
    footer 
        h2  Copyright &copy; www.BEATBUSTERS.com. All Rights Reseved.